<div ng-controller="CalendarController">
	<super-navbar>
		<super-navbar-title>
			Add Appointment to GCal
		</super-navbar-title>
	</super-navbar>


	<script src="https://apis.google.com/js/client.js?onload=checkAuth">
	</script>


	<label class="item item-input item-stacked-label">
		<span class="input-label">Summary</span>
		<input type="text" id="summary"/>
	</label>

	<label class="item item-input item-stacked-label">
		<span class="input-label">Location</span>
		<input type="text" id="Location"/>
	</label>


	<label class="item item-input item-stacked-label">
		<span class="input-label">Family Member:</span>
			<select name = "who">
			<option value="mother" selected>mother</option>
			<option value="father">father</option>
			<option value="jimmy">Jimmy</option>
			<option value="dog">dog</option>
		</select>
	</label>

	<label class="item item-input item-stacked-label">
		<span class="input-label">Date</span>
		<input type="date" id="date"/>
	</label>

	<p id="test"></p>


	<button id="post" class="button button-block button-assertive" ng-click="postEvent()">
		Add New Appointment to Google Calendar
	</button>

	<div ng-hide="cal">
	       <button id="authorize-button" class="button button-block button-stable" ng-click="handleClientLoad()">Authorize</button>
	</div>

</div>
 	




