<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Scheduling Center
    </super-navbar-title>
  </super-navbar>

	<script type="text/javascript">
		setInterval(checkRefresh, 2000);
		checkRefresh();

		function checkRefresh(){
     
	        var refresh = localStorage.getItem('refresh');
	        if (refresh == 1)
	        {
	          window.location.reload();
	          refresh = 0;
	          localStorage.setItem('refresh', refresh);
	  		}

    	}
	</script>

	<div class="list card">
		<super-navigate location="livypad#addEventToGCalAndLivyPad">
	    	<div class="item item-icon-right">
	    		<h2>Schedule a New Visit</h2>
	    		<i class="icon super-ios7-arrow-forward"></i>
	    	</div>
	    </super-navigate>
	  </div> 
	  <div class="list card">
	    <super-navigate location="livypad#allevents">
	    	<div class="item item-icon-right">
	    		<h2>Sync a Visit From Google Calendar</h2>
	    		<i class="icon super-ios7-arrow-forward"></i>
	    	</div>
	    </super-navigate>
	    </div>

	    <div class="list card">
	    <super-navigate location="livypad#addNewRecommendedVisit">
	    	<div class="item item-icon-right">
	    		<h2>Create a New Visit Reminder</h2>
	    		<i class="icon super-ios7-arrow-forward"></i>
	    	</div>
	    </super-navigate>
	    </div>

	</div> 

</div>
