<div ng-controller="CalendarController">
	<super-navbar>
		<super-navbar-title>
			Add to GCal and Livypad
		</super-navbar-title>
	</super-navbar>


	<script src="https://apis.google.com/js/client.js?onload=checkAuth">
	</script>


	<label class="item item-input item-stacked-label">
		<span class="input-label">Appointment Name</span>
		<input value="{{newAppointmentName}}"type="text" id="summary"/>
	</label>

	<label class="item item-input item-stacked-label">
		<span class="input-label">Location</span>
		<input type="text" id="Location"/>
	</label>


	<label class="item item-input item-stacked-label">
		<span class="input-label">Family Member:</span>
			<select ng-model="famMemberToAddTo" ng-options="famMember.famMemberID as famMember.name for famMember in familyMembersList"></select>
		</select>
	</label>

	<label class="item item-input item-stacked-label">
		<span class="input-label">Doctor</span>
		<input type="text" id="doctor"/>
	</label>

	<label class="item item-input item-stacked-label">
		<span class="input-label">Date</span>
		<input type="date" id="date"/> <!--try datetime-local ... doesn't work with gcal though -->
	</label>

	<label class="item item-input item-stacked-label">
		<span class="input-label">Start Time</span>
		<input type="time" step="900" value="12:00" id="startTime"/>
	</label>
	<!--<label class="item item-input item-stacked-label">
		<span class="input-label">End Time</span>
		<input type="time" id="endTime" step="900"/>
	</label>-->
	<label class="item item-input item-stacked-label">
		<span class="input-label">Duration (in hours)</span>
		<input type="number" id="duration" min="0.5" max="24" step="0.5" value="1">
	</label>
	


	<button id="post" class="button button-block button-assertive" ng-click="addEventToGCalAndLivyPad()">
		Add to LivyPad
	</button>

	<div ng-show="cal">
	       <button id="authorize-button" class="button button-block button-stable" ng-click="handleClientLoad()">Authorize</button>
	</div>

</div>
 	




