<div ng-controller="CalendarController">
	<super-navbar>
		<super-navbar-title>
			Add GCal Visit to Livypad
		</super-navbar-title>
	</super-navbar>

<script src="https://apis.google.com/js/client.js" ng-init="handleClientLoad()"></script>
<!--	<script src="https://apis.google.com/js/client.js?onload=checkAuth">
	</script>
-->
<form name="addGCalEventToLivypad" novalidate>
	<label class="item item-input item-stacked-label">
		<span class="input-label">Appointment Name</span>
		<input type="text" ng-model="eventSummary" id="summary" name = "summary" required=""/>
	</label>
	<!--<div ng-show="addGCalEventToLivypad.$submitted || addGCalEventToLivypad.summary.$touched">
      <div ng-show="addGCalEventToLivypad.summary.$error.required">Tell us your name.</div>
    </div>-->

	<label class="item item-input item-stacked-label">
		<span class="input-label">Location</span>
		<input type="text" placeholder = "optional" ng-model="eventLocation" id="Location"/>
	</label>


	<label class="item item-input item-stacked-label">
		<span class="input-label">Family Member:</span>
			<select ng-model="familyMemberToAddTo" ng-options="famMember.famMemberID as famMember.name for famMember in familyMembersList"></select>
		</select>
	</label>

	<label class="item item-input item-stacked-label">
		<span class="input-label">Doctor</span>
		<input type="text" placeholder = "optional" id="doctor"/>
	</label>

	<label class="item item-input item-stacked-label">
		<span class="input-label">Date</span>
		<input type="date" ng-model="eventDate" id="date" required=""/> <!--try datetime-local ... doesn't work with gcal though -->
	</label>

	<label class="item item-input item-stacked-label">
		<span class="input-label">Start Time</span>
		<input ng-model="startTime" type="time" id="startTime" required =""/>
	</label>
	<label class="item item-input item-stacked-label">
		<span class="input-label">End Time</span>
		<input ng-model="endTime" type="time" id="endTime" required=""/>
	</label>
	

	<button type = "submit" id="post" class="button button-block button-assertive" ng-click="addGCalEventToLivyPad()" ng-disabled="addGCalEventToLivypad.$invalid"> Add Google Calendar Event To Livypad </button>
		
</form>



</div>
 	




