<div ng-controller="IndexController">
  <super-navbar>
  	    <super-navbar-title>
  	      Create a New Visit Reminder
  	    </super-navbar-title>
  </super-navbar>

  <form name="addNewRecommendation" novalidate>
	  <label class="item item-input item-stacked-label">
	      <span class="input-label">Visit Description: </span>
	      <input type="text" name = "newTitle" ng-model="newUserAddedRecommendation.newTitle" required/>
	  </label>

  	<label class="item item-input item-stacked-label">
	      <span class="input-label">Category:</span> 
	      <div class="list">

		  <label class="item item-radio">
		    <input type="radio" name="category" ng-model="newUserAddedRecommendation.category" value="screen" >
		    <div class="item-content">
		      Screening
		    </div>
		    <i class="radio-icon super-checkmark"></i>
		  </label>

		  <label class="item item-radio">
		    <input type="radio" name="category" ng-model="newUserAddedRecommendation.category" value="immunization" >
		    <div class="item-content">
		      Immunization
		    </div>
		    <i class="radio-icon super-checkmark"></i>
		  </label>

		  <label class="item item-radio">
		    <input type="radio" name="category" ng-model="newUserAddedRecommendation.category" value="check-up" >
		    <div class="item-content">
		      Check-up
		    </div>
		    <i class="radio-icon super-checkmark"></i>
		  </label>

		  <label class="item item-radio">
		    <input type="radio" name="category" ng-model="newUserAddedRecommendation.category" value="test" >
		    <div class="item-content">
		      Test
		    </div>
		    <i class="radio-icon super-checkmark"></i>
		  </label>

		  <label class="item item-radio">
		    <input type="radio" name="category" ng-model="newUserAddedRecommendation.category" value="other" >
		    <div class="item-content">
		      Other
		    </div>
		    <i class="radio-icon super-checkmark"></i>
		  </label>
		</div>
	  	</label>


  <label class="item item-input item-stacked-label">
      <span class="input-label">Recommended Frequency (in years):</span>  
      <input type="number" min="0" max="130" ng-model="newUserAddedRecommendation.frequency" required/>
  </label>
<!--
  <label class="item item-input item-stacked-label">
      <span class="input-label">Lower bound of age range (in years):</span>  
     	<input type="number" min="0" max="130" ng-model="newUserAddedRecommendation.lower" required/>
  </label>

  <label class="item item-input item-stacked-label">
      <span class="input-label">Upper bound of age range (in years):</span>  
      <input type="number" min="0" max="130"  ng-model="newUserAddedRecommendation.upper" required/>
  </label>

  <label class="item item-input item-stacked-label">
      <span class="input-label">Special age 1 (in years)</span>  
      <input placeholder= "optional" type="number" min="0" max="130" ng-model="newUserAddedRecommendation.specialOne"/>
  </label>

  <label class="item item-input item-stacked-label">
      <span class="input-label">Special age 2 (in years)</span>  
      <input placeholder= "optional" type="number" min="0" max="130" ng-model="newUserAddedRecommendation.specialTwo"/>
  </label>


  <label class="item item-input item-stacked-label">
      <span class="input-label">Relevant Gender:</span>

      <div class="list">

		  <label class="item item-radio">
		    <input type="radio" name="relevantGender" ng-model="newUserAddedRecommendation.relevantGender" value="male" >
		    <div class="item-content">
		      Male
		    </div>
		    <i class="radio-icon super-checkmark"></i>
		  </label>

		  <label class="item item-radio">
		    <input type="radio" name="relevantGender" ng-model="newUserAddedRecommendation.relevantGender" value="female" >
		    <div class="item-content">
		      Female
		    </div>
		    <i class="radio-icon super-checkmark"></i>
		  </label>

		  <label class="item item-radio">
		    <input type="radio" name="relevantGender" ng-model="newUserAddedRecommendation.relevantGender" value="all" >
		    <div class="item-content">
		      Both Genders
		    </div>
		    <i class="radio-icon super-checkmark"></i>
		  </label>

		  <label class="item item-radio">
		    <input type="radio" name="relevantGender" ng-model="newUserAddedRecommendation.relevantGender" value="animal" >
		    <div class="item-content">
		      Animal
		    </div>
		    <i class="radio-icon super-checkmark"></i>
		  </label>
		</div>
  </label>
-->
 	<label class="item item-input item-stacked-label">
		<div class="input-label">For Family Members (optional):</div>
	</label>
	<div>
			<label ng-repeat="famMember in allFamilyMembers">
			  &emsp;
			  	<input
			    type="checkbox"
			    name="selectedFamilyMembersToAddRecommendationFor[]"
			    value="{{famMember.id}}"
			    ng-checked="selectedFamilyMembersToAddRecommendationFor.indexOf(famMember.id) > -1"
			    ng-click="toggleSelection(famMember.id)"> 
			    {{famMember.name}} 
			    <br>
			</label>
		<br>
	</div>

	

    <div class="button-bar"  width=400 height=500>
    <button type = "submit" ng-click="addNewRecommendedVisit()" class="button icon-left super-checkmark-round button-assertive" ng-disabled="addNewRecommendation.$invalid">
        Add New Recommended Visit 
    </button>
  </div>

</form>




</div>	
