<div ng-controller="CalendarController" class="page" scroll>

	<script src="https://apis.google.com/js/client.js" ng-init="handleClientLoad()"></script>

	<super-navbar>
		<super-navbar-title>
			Find Your Scheduled Visit
		</super-navbar-title>
    <super-navbar-button class="item-icon-right" side="right" ng-click="Searchbar = !Searchbar">
     Search
    </super-navbar-button>
	</super-navbar>
    <div class="button-block button-clear refresh" ng-show="iconstatus"><i class="icon iconhide super-refreshing"></i></div>
 
    <div ng-hide="cal">
        <button id="authorize-button" class="button button-block button-stable" ng-click="handleClientLoad()">Authorize</button>
    </div>

  <div ng-show = "Searchbar">
    <div class="list list-inset">
       <label class="item item-input">
          <i class="icon super-search placeholder-icon"></i>
          <input type="text" placeholder="Search" ng-model="keyword">
       </label>
       <br>
    </div>
  </div>

  <div class="item item-divider item-button-right" >
      <p> <font size="2.5"> Past Events On Google Calendar</font></p>
      <button  class="button button-small icon-left super-ios7-arrow-down button-clear" ng-click="showPastEvents = !showPastEvents"></button>
  </div>
 <div ng-show = "showPastEvents">
  <a ng-repeat="pEvent in pastEvents|filter: keyword" class="list card" >
      <div class="card">

        <div class="item item-text-wrap">
            <h2> <b>Description: </b>{{pEvent.summary}}</h2>
            <h2> <b>Location: </b>{{pEvent.location}}</h2>
             <h2> <b>Date: </b>{{pEvent.date}} </h2>
            <h2> <b>Time:</b> {{pEvent.startTime}} to {{pEvent.endTime}} </h2>
        </div>

        <button id="post" class="button button-block super-checkmark-round button-assertive" ng-click="loadGCalAppointment(pEvent.summary, pEvent.location, pEvent.startTimeObject, pEvent.endTimeObject)">
        Add to LivyPad
        </button>

        

      </div>
    </a>
</div>



  <div class="item item-divider item-button-right" >
      <p> <font size="2.5"> Upcoming Events On Google Calendar</font></p>
      <button  class="button button-small icon-left super-ios7-arrow-down button-clear" ng-click="showUpcomingEvents = !showUpcomingEvents"></button>
  </div>
 <div ng-show = "showUpcomingEvents">
  <a ng-repeat="uEvent in upcomingEvents|filter:keyword" class="list card" >
      <div class="card">

        <div class="item item-text-wrap">
            <h2> <b>Description: </b>{{uEvent.summary}}</h2>
            <h2> <b>Location: </b>{{uEvent.location}}</h2>
             <h2> <b>Date: </b>{{uEvent.date}} </h2>
            <h2> <b>Time:</b> {{uEvent.startTime}} to {{uEvent.endTime}} </h2>
        </div>
        <button id="post" class="button button-block super-checkmark-round button-assertive" ng-click="loadGCalAppointment(uEvent.summary, uEvent.location, uEvent.startTimeObject, uEvent.endTimeObject)">
        Add to LivyPad
        </button>


      </div>
    </a>

</div>
