<div ng-controller="CalendarController">

	<script src="https://apis.google.com/js/client.js" ng-init="handleClientLoad()"></script>

	<super-navbar>
		<super-navbar-title>
			All Events
		</super-navbar-title>
	</super-navbar>

    <div ng-hide="cal">
        <button id="authorize-button" class="button button-block button-stable" ng-click="handleClientLoad()">Authorize</button>
    </div>
    <div style="text-align: center">
    <button class="button button-clear button-calm" ng-click="refresh()">
            click to refresh
    </button>
  </div>
    <div class="list list-inset">
       <label class="item item-input">
          <i class="icon super-search placeholder-icon"></i>
          <input type="text" placeholder="Search" data-params-id="keyword">
       </label>
    </div>


    <div class="item item-divider" style="text-align: center">
      Past Events
    </div>

  <a ng-repeat="pEvent in pastEvents|filter:keyword" class="list card" >
      <div class="card">

        <div class="item item-text-wrap">
            <h2> <b>Description: </b>{{pEvent.summary}}</h2>
            <h2> <b>Location: </b>{{pEvent.location}}</h2>
             <h2> <b>Date: </b>{{pEvent.start.date}} </h2>
            <h2> <b>Time:</b> {{pEvent.start.dateTime}} to {{pEvent.end.dateTime}} </h2>
        </div>

        <div class="button-bar" width=400 height=500>
            <super-navigate location="livypad#addGCalEventToGCalAndLivyPad" data-params-id="{{pEvent}}">
            <button ng-click="scheduleAppointmentFromGCal(pEvent.summary, pEvent.location, pEvent.start.dateTime, pEvent.end.dateTime)" class="button icon-left super-checkmark-round button-assertive"> Add to Livypad</button>
            </super-navigate>
        </div>

      </div>
    </a>




    <div class="item item-divider" style="text-align: center">
      Upcoming Events
  </div>

  <a ng-repeat="uEvent in upcomingEvents|filter:keyword" class="list card" >
      <div class="card">

        <div class="item item-text-wrap">
            <h2> <b>Description: </b>{{uEvent.summary}}</h2>
            <h2> <b>Location: </b>{{uEvent.location}}</h2>
             <h2> <b>Date: </b>{{uEvent.start.date}} </h2>
            <h2> <b>Time:</b> {{uEvent.start.dateTime}} to {{uEvent.end.dateTime}} </h2>
        </div>

        <div class="button-bar" width=400 height=500>
            <super-navigate location="livypad#addGCalEventToGCalAndLivyPad" data-params-id="{{uEvent.summary}}">
            <button ng-click="scheduleAppointmentFromGCal(pEvent.summary, pEvent.location, pEvent.start.dateTime, pEvent.end.dateTime)" class="button icon-left super-checkmark-round button-assertive"> Add to Livypad</button>
            </super-navigate>
        </div>

      </div>
    </a>

</div>