<div ng-controller="CalendarController">

	<script src="https://apis.google.com/js/client.js" ng-init="handleClientLoad()"></script>

	<super-navbar>
		<super-navbar-title>
			All Events
		</super-navbar-title>
	</super-navbar>

    <div ng-hide="cal">
        <button id="authorize-button" class="button button-block button-stable" ng-click="handleClientLoad()">Authorize</button>
    </div>

    <div class="list list-inset">
       <label class="item item-input">
          <i class="icon super-search placeholder-icon"></i>
          <input type="text" placeholder="Search" data-params-id="keyword">
       </label>
    </div>


  	<div class="item item-divider" style="text-align: center">
  		Past Events
  	</div>

	 <div ng-repeat="pEvent in pastEvents">
         <p>summary: {{pEvent.summary}}</p>
      </div>


  	<div class="item item-divider" style="text-align: center">
  		Upcoming Events
	</div>
	<div ng-repeat="uEvent in upcomingEvents">
         <p>summary: {{uEvent.summary}}</p>
      </div>

</div>