<div ng-controller="CalendarController">
	<script src="https://apis.google.com/js/client.js" ng-init="handleClientLoad()"></script>
	<super-navbar>
		<super-navbar-title>
		Calendar
		</super-navbar-title>
		<super-navbar-button class="item-icon-left" side="left" onClick="supersonic.ui.drawers.open('left')">
		ooo
		</super-navbar-button>
		<super-navbar-button class="item-icon-right" side="right" location="livypad#addEventToGCalAndLivyPad">
		Add an event
		</super-navbar-button>
	</super-navbar>

	<iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;src=yanghu2019%40gmail.com&amp;color=%232952A3&amp;src=%23contacts%40group.v.calendar.google.com&amp;color=%231B887A&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%232F6309&amp;ctz=America%2FChicago" style=" border-width:0 " width="400" height="600" frameborder="0" scrolling="no"></iframe> 


	<div id="authorize-div" style="display: none">
		<span>Authorize access to calendar</span>
		<!--Button for the user to click to initiate auth sequence -->
		<button id="authorize-button" onclick="handleAuthClick(event)">
		Authorize
		</button>
	</div>


	<div style="font-size: large" id="output"></div>

</div>


