<div ng-controller="CalendarController">
	<super-navbar>
		<super-navbar-title>
			Edit Upcoming Visit
		</super-navbar-title>
	</super-navbar>


	<script src="https://apis.google.com/js/client.js?onload=checkAuth">
	</script>

<form name="addRecommendedEventToGCalandLivypad" novalidate>

	<label class="item item-input item-stacked-label">
		<span class="input-label">Appointment Name</span>
		<input ng-model="newAppointmentName" type="text" id="summary" required/>
	</label>

	<label class="item item-input item-stacked-label">
		<span class="input-label">Location</span>
		<input ng-model="newAppointmentLocation" type="text" id="Location"/>
	</label>


	<label class="item item-input item-stacked-label">
		<span class="input-label">Family Member:</span>
			<select ng-model="famMemberToAddToForRecommended" ng-options="famMember.famMemberID as famMember.name for famMember in familyMembersList"></select>
		</select>
	</label>

	<label class="item item-input item-stacked-label">
		<span class="input-label">Doctor</span>
		<input ng-model="newAppointmentDoctor" type="text" id="doctor"/>
	</label>

	<label class="item item-input item-stacked-label">
		<span class="input-label">Date</span>
		<input ng-model = "newDate" type="date" id="date" required/> <!--try datetime-local ... doesn't work with gcal though -->
	</label>

	<label class="item item-input item-stacked-label">
		<span class="input-label">Start Time </span>
		<input type="time" ng-model = "newDate" step="900" id="startTime" required/>
	</label>
	<!--<label class="item item-input item-stacked-label">
		<span class="input-label">End Time</span>
		<input type="time" id="endTime"/>
	</label>-->
	<label class="item item-input item-stacked-label">
		<span class="input-label">Duration (in hours)</span>
		<input ng-model="defaultDuration" type="number" id="duration" min="0.5" max="24" step="0.5" required/>
	</label>


	<button id="post" class="button button-block button-assertive" ng-click="saveChangeToScheduledVisit()">
		Save Changes to Livypad
	</button>

	<!-- <div ng-hide="cal">
	       <button id="authorize-button" class="button button-block button-stable" ng-click="handleClientLoad()">Authorize</button>
	</div> -->

</form>

</div>
 	




