
<div ng-controller="IndexController"  class="page" scroll>
  <super-navbar>
    <super-navbar-title>
      livypad
    </super-navbar-title>
    
    <super-navbar-button class="item-icon-left" side="left" onClick="supersonic.ui.drawers.open('left')">
     ooo
    </super-navbar-button>

     <super-navbar-button class="item-icon-right" side="right" location="livypad#addCenter">
     Add
    </super-navbar-button>
  </super-navbar>

    <div class="button-block button-clear refresh" ng-show="iconstatus"><i class="icon iconhide super-refreshing"></i></div>
    

	<div ng-repeat="row in chunkedMembers" class="row">
		<super-navigate ng-repeat="member in row" location="livypad#person" data-params-id="{{member.id}}">
	    	<div style="margin-left: {{20*($index+1)}}%; margin-right: 20%;"class="col">
	    		<div class="numberCircle">
   				<div class="height_fix"></div>
    			<div class="content">{{member.percent}}</div>
			</div>
	    		<img style="margin-top: -30px" src={{member.iconID}} align="center">
	    		<h4 style="text-align: center; font-size:18px; margin-top: -18px;"><b>{{member.name}}</b></h4>
	    	</div>
	    </super-navigate>
	</div>
	<!-- <div ng-repeat="memberz in sorted" ng-if="$index%2==0" class="row">
		<super-navigate location="livypad#person" data-params-id="{{memberz.id}}">
	    	<div style="margin-left: 20%;"class="col">
	    		<div class="numberCircle">
   				<div class="height_fix"></div>
    			<div class="content">{{memberz.percent}}</div>
			</div>
	    		<img style="margin-top: -30px" src={{memberz.iconID}} align="center">
	    		<h4 style="text-align: center; font-size:18px; margin-top: -18px;"><b>{{memberz.name}}</b></h4>
	    	
	    	</div>
	    </super-navigate>
	   <div ng-init="member = sorted[$index + 1]" ng-if="sorted[$index + 1]">
	    <super-navigate location="livypad#person" data-params-id="{{member.id}}">
	    	<div style= "margin-left: 40%;" class="col">
	    		<div class="numberCircle">
   				<div class="height_fix"></div>
    			<div class="content">{{member.percent}}</div>
			</div>
	    		<img style="margin-top: -30px" src={{member.iconID}} align="center">
	    		<h4 style="text-align: center; font-size:18px; margin-top: -18px;"><b>{{member.name}}</b> </h4>
	    	</div>	    
	    </super-navigate>
	   </div>
	</div> -->
	    		<!-- <div class="row">
	    			<div class="col col-67 col-center">
	    				<h2 style="font-size:30px;"><b>{{member.name}}</b></h2>
	    			</div>
	    			<div class="col">
	    				<p style="text-align: right"><h2><font color="#F75D59" size="28"><b>{{member.percent}}</b></font></h2></p>
	    			</div>
	    		</div> -->
	  </div>

	  <style>

	  .numberCircle {
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    border-radius: 50%;
	    width: 26px;
	    padding: 8px;
	    font-size: 18px;
	    border: 1px solid #fff;
	    position: relative;
	    background:#F75D59;
	    margin-top:12px;
	    margin-left:8px;

	}
	.numberCircle .height_fix {
	    margin-top: 100%;

	}
	.numberCircle .content {
	    position: absolute;
	    left: 0;
	    top: 50%;
	    height: 100%;
	    width: 100%;
	    text-align: center;
	    margin-top: -11px; /* Note, this must be half the font size */
	    color:#fff;
	}
	  </style>
