

<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      livypad
    </super-navbar-title>
    
    <super-navbar-button class="item-icon-left" side="left" onClick="supersonic.ui.drawers.open('left')">
     ooo
    </super-navbar-button>
  </super-navbar>

	<div>
		<super-navigate>
			<img src="https://raw.githubusercontent.com/eecs394-spr15/livypad/master/app/livypad/images/Dad.png" align="left" style="width: 50%">
		</super-navigate>
		
		<super-navigate>
			<img src="https://raw.githubusercontent.com/eecs394-spr15/livypad/master/app/livypad/images/Mom.png" align="right" style="width: 50%">
		</super-navigate>
	</div>
	
	<div>
		<super-navigate>
			<img src="https://raw.githubusercontent.com/eecs394-spr15/livypad/master/app/livypad/images/Girl.png" align="left" style="width: 50%">
		</super-navigate>
		
		<super-navigate>
			<img src="https://raw.githubusercontent.com/eecs394-spr15/livypad/master/app/livypad/images/Boy.png" align="right" style="width: 50%">
		</super-navigate>
	</div>
	
	<div>
		<super-navigate>
			<img src="https://raw.githubusercontent.com/eecs394-spr15/livypad/master/app/livypad/images/Girl2.png" align="left" style="width: 50%">
		</super-navigate>
		
		<super-navigate>
			<img src="https://raw.githubusercontent.com/eecs394-spr15/livypad/master/app/livypad/images/Grandma.png" align="right" style="width: 50%">
		</super-navigate>
	</div>

</div>
</div>
