<div ng-controller="IndexController">
  <super-navbar>

  	<super-navbar-button class="item-icon-left" side="left" onClick="supersonic.ui.drawers.open('left')">
     ooo
    </super-navbar-button>
    
    <super-navbar-title>
      All Appointments
    </super-navbar-title>
    
    <super-navbar-button class="item-icon-right" side="right" location="livypad#addEventToGCalAndLivyPad">
      Add Visits
    </super-navbar-button>
    </super-navbar>
 
  </super-navbar>

    <script type="text/javascript">
    setInterval(checkRefresh, 2000);
    checkRefresh();

    function checkRefresh(){
     
          var refresh = localStorage.getItem('refresh');
          if (refresh == 1)
          {
            window.location.reload();
            refresh = 0;
            localStorage.setItem('refresh', refresh);
        }

      }
  </script>
<!--
  <div style="text-align: center">
    <button class="button button-clear button-calm" ng-click="refresh()">
            click to refresh
    </button>
  </div>
-->
    <div class="list list-inset">
       <label class="item item-input">
          <i class="icon super-search placeholder-icon"></i>
          <input type="text" placeholder="Search" ng-model="keyword">
       </label>
    </div>


  	<div class="item item-divider" style="text-align: center">
  		Upcoming Visits
  	</div>
  	
    <div ng-repeat="scheduledAppointment in allScheduledAppointmentList|filter:keyword" class="list card">

        <div class="item item-text-wrap">
          <h2> <b>Description: </b>{{scheduledAppointment.nameOfAppointment}}</h2>
        	<h2> <b>For: </b>{{scheduledAppointment.nameOfFamilyMember}}</h2>
          <h2> <b>Doctor: </b>{{scheduledAppointment.doctor}}</h2>
          <h2> <b>Location: </b>{{scheduledAppointment.location}}</h2>
          <h2> <b>Date: </b>{{scheduledAppointment.dateScheduled | date: "yyyy-MM-dd"}}</h2>
        </div>
        
    </div>
  	
	<div class="item item-divider" style="text-align: center">
  		Recommended Visits
  	</div>
  	

    <div ng-repeat="suggestedAppointment in suggestedAppointmentList|filter:keyword" class="list card" >

        <div class="item item-text-wrap">
            <h2> <b>Description: </b>{{suggestedAppointment.appointmentName}}</h2>
            <h2> <b>Recommended For: </b>{{suggestedAppointment.famMemberName}}</h2>
            <h2> <b>Recommended For Ages </b>: {{suggestedAppointment.lowerBound}} to {{suggestedAppointment.upperBound}} </h2>
            <h2> <b>Key ages: </b>{{suggestedAppointment.keyAges}}</h2>   
            <h2> <b>Frequency: </b>{{suggestedAppointment.frequency}}</h2> 
            <h2> <b>Last Visit: </b>{{suggestedAppointment.dateLastScheduled}}</h2>
            <h2> <b>Recommendation: </b>{{suggestedAppointment.recommendedNextDate}}</h2> 
        </div>

        <div class="button-bar" width=400 height=500>
          <button ng-click="scheduleRecommendedAppointment(suggestedAppointment.appointmentName, suggestedAppointment.famMember,suggestedAppointment.frequencyNum)" class="button icon-left super-checkmark-round button-assertive"> Schedule </button>
          
          <button ng-click="ignoreReccomendation(suggestedAppointment.appointmentID, suggestedAppointment.famMember)" class="button icon-left super-close-round button-assertive"> Ignore </button>
        </div>

    </div>

</div>

