<div ng-controller="IndexController">
  <super-navbar>

  	<super-navbar-button class="item-icon-left" side="left" onClick="supersonic.ui.drawers.open('left')">
     ooo
    </super-navbar-button>
    
    <super-navbar-title>
      All appointments
    </super-navbar-title>
    
 
  </super-navbar>

   <div class="list">

      <div class="item item-divider">
        Upcoming Visits
      </div>

      <a class="item" href="#">
        <h2>05/05/2015</h2>
        <p>Appointment with Dentist Dan.</p>
        <p>Location: #####</p>
      </a>

      <div class="item item-divider">
        Unschedued Visits
      </div>
      <a class="item" href="#">
        <h2>10/2015</h2>
        <p>Dentist</p>
      </a>

    </div>

</div>

