<div ng-controller="IndexController">
  <super-navbar>

  	<super-navbar-button class="item-icon-left" side="left" onClick="supersonic.ui.drawers.open('left')">
     ooo
    </super-navbar-button>
    
    <super-navbar-title>
      All Appointments
    </super-navbar-title>
    
 
  </super-navbar>

  	<div class="item item-divider" style="text-align: center">
  		Upcoming Visits
  	</div>
  	
  	<div class="list card">
  		<super-navigate location="" data-params-id="">
  			<div class="item">
  				<h2 style="text-align: center">05/05/2015</h2>
        		<p style="text-align: center">Appointment with Dentist Dan.</p>
        		<p style="text-align: center">Location: #####</p>
  			</div>
  		</super-navigate>
  	</div>
  	
	<div class="item item-divider" style="text-align: center">
  		Unscheduled Visits
  	</div>
  	
  	<div class="list card">
  		<super-navigate location="" data-params-id="">
  			<div class="item">
  				<h2 style="text-align: center">10/2015</h2>
        		<p style="text-align: center">Dentist</p>
  			</div>
  		</super-navigate>
  	</div>

</div>

