<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      livypad
    </super-navbar-title>
  </super-navbar>

    <div class="item-avatar">
      <img src="https://raw.githubusercontent.com/eecs394-spr15/livypad/master/app/livypad/images/Dad.png">

      <div class="list list-inset">
         <label class="item item-input">
            <i class="icon super-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="keyword">
        </label>
      </div>  
      
   </div>

  	<div class="item item-divider" style="text-align: center">
  		Upcoming Visits
  	</div>
  	
  	<div class="list card">
  		<super-navigate location="" data-params-id="">
  			<div class="item">
  				<h2 style="text-align: center">05/05/2015</h2>
        		<p style="text-align: center">Appointment with Dentist Dan.</p>
        		<p style="text-align: center">Location: #####</p>
  			</div>
  		</super-navigate>
  	</div>
  	
	<div class="item item-divider" style="text-align: center">
  		Unscheduled Visits
  	</div>
  	
  	<div class="list card">
  		<super-navigate location="" data-params-id="">
  			<div class="item">
  				<h2 style="text-align: center">10/2015</h2>
        		<p style="text-align: center">Dentist</p>
  			</div>
  		</super-navigate>
  	</div>
</div>