<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
    	{{individualFamMemberName}}
    </super-navbar-title>
    <super-navbar-button class="item-icon-right" side="right" ng-click="Searchbar = !Searchbar">
     Search
    </super-navbar-button>
  </super-navbar>

    <div ng-show = "Searchbar">
      <div class="list list-inset">
         <label class="item item-input">
            <i class="icon super-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="keyword">
        </label>
        <br>
      </div> 
    </div>

    <div class="item item-thumbnail-left">
      <img src="{{memberIcon}}"> 
      
   </div>

  <div class="item item-divider item-button-right" >
      <p> <font size="3"> Past Visits</font></p>
      <button  class="button button-small icon-left super-ios7-arrow-down button-clear" ng-click="showHistory = !showHistory"></button>
  </div>

      <div ng-show = "showHistory">
        <div ng-repeat="pastAppointment in allVisitHistory | filter: filterFunction" class="list card">
          
          <div class="item item-text-wrap">
            <h2> <b>Description: </b>{{pastAppointment.nameOfAppointment}}</h2>
            <h2> <b>For: </b>{{pastAppointment.nameOfFamilyMember}}</h2>
            <h2> <b>Doctor: </b>{{pastAppointment.doctor}}</h2>
            <h2> <b>Location: </b>{{pastAppointment.location}}</h2>
            <h2> <b>Date: </b>{{pastAppointment.dateScheduled | date: "yyyy-MM-dd"}}</h2>
          </div>

        </div>
      </div>


  <div class="item item-divider item-button-right" >
      <p> <font size="3"> Upcoming Visits</font></p>
      <button  class="button button-small icon-left super-ios7-arrow-down button-clear" ng-click="showUpcoming = !showUpcoming"></button>
  </div>
    
  <div ng-show = "showUpcoming">    
    <div ng-repeat="scheduledAppointment in allScheduledAppointmentList | filter: filterFunction" class="list card">
        <div class="item item-text-wrap">
          <h2> <b>Description: </b>{{scheduledAppointment.nameOfAppointment}}</h2>
          <h2> <b>For: </b>{{scheduledAppointment.nameOfFamilyMember}}</h2>
          <h2> <b>Doctor: </b>{{scheduledAppointment.doctor}}</h2>
          <h2> <b>Location: </b>{{scheduledAppointment.location}}</h2>
          <h2> <b>Date: </b>{{scheduledAppointment.dateScheduled | date: "yyyy-MM-dd"}}</h2>
        </div>

    </div>
  </div>


  <div class="item item-divider item-button-right" >
      <p> <font size="3"> Recommended Visits</font></p>
      <button  class="button button-small icon-left super-ios7-arrow-down button-clear" ng-click="showRecommended = !showRecommended"></button>
  </div>

  <div ng-show = "showRecommended">   
    <div ng-repeat="suggestedAppointment in suggestedAppointmentList | filter: filterFunction" class="list card" >
        <div class="item item-text-wrap">
            <h2> <b>Description: </b>{{suggestedAppointment.nameOfAppointment}}</h2>
<!--            <h2> <b>Recommended For: </b>{{suggestedAppointment.famMemberName}}</h2>
            <h2> <b>Recommended For Ages </b>: {{suggestedAppointment.lowerBound}} to {{suggestedAppointment.upperBound}} </h2>
            <h2> <b>Key ages: </b>{{suggestedAppointment.keyAges}}</h2>   -->
            <h2> <b>Frequency: </b>{{suggestedAppointment.frequency}}</h2> 
            <h2> <b>Last Visit: </b>{{suggestedAppointment.dateLastScheduled}}</h2>
            <h2> <b>Recommendation: </b>{{suggestedAppointment.recommendedNextDate}}</h2>  
        </div>

        <div class="button-bar" width=400 height=500>
          <button ng-click="scheduleRecommendedAppointment(suggestedAppointment.nameOfAppointment, suggestedAppointment.famMember, suggestedAppointment.frequencyNum)" class="button icon-left super-checkmark-round button-assertive"> Schedule </button>
          <button ng-click="showIgnore = !showIgnore" class="button icon-left super-close-round button-assertive">Ignore</button>
        </div>

        <div ng-show = "showIgnore">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Remind me in ___ months' time</span>
            <input type="number" min="0" ng-model="ignoreTimeLength.getLength">
          </label>
          <div class="button-bar">
            <button ng-click="ignoreReccomendation(suggestedAppointment.appointment, suggestedAppointment.famMember) ; showIgnore = !showIgnore" class="button button-full icon-left super-close-round button-assertive"> Confirm Ignore </button>
          </div>
        </div>

  </div>
</div>

</div>