<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
    	{{individualFamMemberName}}
    </super-navbar-title>
    <super-navbar-button class="item-icon-right" side="right" ng-click="Searchbar = !Searchbar">
     Search
    </super-navbar-button>
  </super-navbar>


    <div ng-show = "Searchbar">
      <div class="list list-inset">
         <label class="item item-input">
            <i class="icon super-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="keyword">
        </label>
        <br>
      </div> 
    </div>

    <div class="item item-thumbnail-left">
      <img src="{{memberIcon}}" align="left"> 
          <div class="row">
            <div class="col col-75 col-center">
              <h><b>Upcoming Visits:</b> 
                <span ng-repeat="person in allFamilyMembers | filter: {id: individualFamMember}">
                  {{person.numExistingAppointments}}
                </span>
              </h>
              <br>
              <br>
              <h><b>Recommended Visits:</b> 
                <span ng-repeat="person in allFamilyMembers | filter: {id: individualFamMember}">
                  {{person.numSuggestedAppointments}}
                </span>
              </h>

            </div>

            <!-- <div class="col">
              <p style="text-align: right"><h2><font color="#F75D59" size="28"><b><span ng-repeat="person in allFamilyMembers | filter: {id: individualFamMember}">
                  {{person.percent}}
                </span></font></h2></p>
               <p style="text-align: center"><h><font color="#F75D59">score</h> 
              </p>
            </div> -->

            <div class="col item-text-wrap">
              <p style="text-align: left; font-size:24px;"><font color="#F75D59"><span ng-repeat="person in allFamilyMembers | filter: {id: individualFamMember}" ng-if="person.percent < 100">
                  {{person.percent}}%
                </span></font></p>  
                <p style="text-align: left; margin-left: -14px; font-size:24px;"><font color="#F75D59"><span ng-repeat="person in allFamilyMembers | filter: {id: individualFamMember}" ng-if="person.percent == 100">
                  {{person.percent}}%
                </span></font></p>
              <p style="text-align: left; margin-left:-5px;"><h><font color="#F75D59">livyscore</font></h> </p>            
            </div>
            <!--
            <div class="col">
              <p style="text-align: right"><h><font color="#F75D59"><b>pts</b></font></h>
                </p>
            </div>
          -->
          </div>      
   </div>

<div class="item item-divider item-button-right" >
      <p> <font size="3"> Upcoming Visits</font></p>
      <button  class="button button-small icon-left super-ios7-arrow-down button-clear" ng-click="showUpcoming = !showUpcoming"></button>
  </div>
    
  <div ng-show = "showUpcoming">    
    <div ng-repeat="scheduledAppointment in allScheduledAppointmentList | filter: filterFunction" class="list card">
        <div class="item item-text-wrap">
          <h2> <b>Description: </b>{{scheduledAppointment.nameOfAppointment}}</h2>
          <h2> <b>Date: </b>{{scheduledAppointment.dateScheduled | date: "MM-dd-yyyy"}}</h2>
          <h2> <b>Time: </b>{{scheduledAppointment.dateScheduled | date: "h:mm a"}} </h2>
          <h2 ng-if="scheduledAppointment.doctor"> <b>Doctor: </b>{{scheduledAppointment.doctor}}</h2>
          <h2 ng-if="scheduledAppointment.location"> <b>Location: </b>{{scheduledAppointment.location}}</h2>
        </div>

        <div class="button-bar" width=400 height=500>
          <button ng-click="editScheduledAppointment(scheduledAppointment.id, scheduledAppointment.nameOfAppointment, scheduledAppointment.famMember, scheduledAppointment.doctor, scheduledAppointment.location, scheduledAppointment.dateScheduled, scheduledAppointment.doctorType)" class="button icon-left super-edit button-assertive"> Edit </button>
          <button ng-click="deleteVisit(scheduledAppointment.id)" class="button icon-left super-trash-a button-assertive">Delete</button>
        </div>

    </div>
  </div>

  <div ng-init="showRecommended =  false" ng-repeat="person in allFamilyMembers | filter: {id: individualFamMember}" ng-if="person.numSuggestedAppointments !=0">
  <div class="item item-divider item-button-right">
      <p><font size="3" color="#F75D59"><b>{{person.numSuggestedAppointments}}</b> Recommended Visits</font></p>   
      <button  class="button button-small icon-left super-ios7-arrow-down button-clear" ng-click="showRecommended = !showRecommended"></button>
  </div>


  <!-- <div class="item item-divider item-button-right" >
      <p><font size="3"> Recommended Visits</font></p> 
      <button  class="button button-small icon-left super-ios7-arrow-down button-clear" ng-click="showRecommended = !showRecommended"></button>
  </div> -->

  <div ng-show = "showRecommended"> 
    <div ng-repeat="suggestedAppointment in suggestedAppointmentList | filter: filterFunction" class="list card" >
        <div class="item item-text-wrap">
            <h2> <b>Description: </b>{{suggestedAppointment.nameOfAppointment}}</h2>
            <h2> <b>Doctor Type: </b>{{suggestedAppointment.doctorType}}</h2>
<!--        <h2> <b>Recommended For: </b>{{suggestedAppointment.famMemberName}}</h2>
            <h2> <b>Recommended For Ages </b>: {{suggestedAppointment.lowerBound}} to {{suggestedAppointment.upperBound}} </h2>
            <h2> <b>Key ages: </b>{{suggestedAppointment.keyAges}}</h2>  -->  
            <h2> <b>Frequency: </b>{{suggestedAppointment.frequency}}</h2> 
            <h2> <b>Last Visit: </b>{{suggestedAppointment.dateLastScheduled}}</h2>
            <h2> <b>Recommendation: </b>{{suggestedAppointment.recommendedNextDate}}</h2>  
        </div>

        <div class="button-bar" width=400 height=500>
          <button ng-click="scheduleRecommendedAppointment(suggestedAppointment.nameOfAppointment, suggestedAppointment.famMember, suggestedAppointment.frequencyNum,suggestedAppointment.doctorType)" class="button icon-left super-checkmark-round button-assertive"> Schedule </button>
          <button ng-click="showIgnore = !showIgnore" class="button icon-left super-close-round button-assertive">Ignore</button>
        </div>

        <div ng-show = "showIgnore">
          <form name="confirmIgnoreForm" novalidate>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Remind me in ___ months' time</span>
            <input type="number" min="0" max="999" ng-model="ignoreTimeLength.getLength" required/>
          </label>
          <div class="button-bar">
            <button type="submit" ng-click="ignoreReccomendation(suggestedAppointment.appointment, suggestedAppointment.famMember) ; showIgnore = !showIgnore" class="button button-full icon-left super-close-round button-assertive" ng-disabled="confirmIgnoreForm.$invalid"> Confirm Ignore </button>
          </div>
          </form>
        </div>

  </div> 
  </div>
  </div>

  <div class="item item-divider item-button-right" >
      <p> <font size="3"> Past Visits</font></p>
      <button  class="button button-small icon-left super-ios7-arrow-down button-clear" ng-click="showHistory = !showHistory"></button>
  </div>

      <div ng-show = "showHistory">
        <div ng-repeat="pastAppointment in allVisitHistory | filter: filterFunction" class="list card">
          
          <div class="item item-text-wrap">
            <h2> <b>Description: </b>{{pastAppointment.nameOfAppointment}}</h2>
            <h2> <b>For: </b>{{pastAppointment.nameOfFamilyMember}}</h2>
            <h2> <b>Doctor: </b>{{pastAppointment.doctor}}</h2>
            <h2> <b>Location: </b>{{pastAppointment.location}}</h2>
            <h2> <b>Date: </b>{{pastAppointment.dateScheduled | date: "yyyy-MM-dd"}}</h2>
          </div>

          <div class="button-bar" width=400 height=500>
          <button ng-click="editScheduledAppointment(pastAppointment.id, pastAppointment.nameOfAppointment, pastAppointment.famMember, pastAppointment.doctor, pastAppointment.location, pastAppointment.dateScheduled, pastAppointment.doctorType)" class="button icon-left super-edit button-assertive"> Edit </button>
          <button ng-click="deleteVisit(pastAppointment.id)" class="button icon-left super-trash-a button-assertive">Delete</button>
        </div>

        </div>
      </div>


</div>